@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karma;
  src: url("/assets/fonts/Karma-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("/assets/fonts/Raleway-Regular.ttf");
}

body {
  font-family: Raleway;
}

input,
button,
a.button {
  @apply focus:outline-none focus:ring-2 focus:ring-green-200 focus:border-transparent;
}

button:disabled {
  @apply bg-green-200 cursor-default;
}

.crafting-list-list-item {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "icon title title title"
    "icon progress . .";
}

.crafting-list-list-item > .icon {
  grid-area: icon;
}

.crafting-list-list-item > .title {
  grid-area: title;
}
.crafting-list-list-item > .progress {
  grid-area: progress;
}

.crafting-list-list-item > .actions {
  grid-area: actions;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  padding: 5px 0;

  @apply invisible bg-gray-900 opacity-80 text-center rounded-md absolute z-10 text-white w-32;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  @apply visible;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
