@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karma;
  src: url("/assets/fonts/Karma-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("/assets/fonts/Raleway-Regular.ttf");
}

body {
  font-family: Raleway;
}

input,
button,
a.button {
  @apply focus:outline-none focus:ring-2 focus:ring-green-200 focus:border-transparent;
}

button:disabled {
  @apply bg-green-200 cursor-default;
}

.crafting-list-list-item {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "icon title title title"
    "icon progress . .";
}

.crafting-list-list-item > .icon {
  grid-area: icon;
}

.crafting-list-list-item > .title {
  grid-area: title;
}
.crafting-list-list-item > .progress {
  grid-area: progress;
}
